#imageandcv {
    margin: 0px 2% 0px 0px;
}


.carousel-control-next-icon, .carousel-control-prev-icon {
filter: invert();
}

#skills {
    margin-left: -200px;
    text-align: center;
}

#profile {
    margin-left: -1px;
}